/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* common / Base style / Utilitise Style*/
body{
    font-family: 'Poppins', sans-serif;
    background-color: #F3F1FF;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container{
    background-color: #FFFFFF;
    width: 870px;
    padding: 30px;
    border-radius: 5px;

    margin-top: 21px;
}

hr{
    border: 1px solid #D1D1D1;
    margin-bottom: 27px;
}

/* Top players style */


.top-players{
margin-bottom: 30px;
}
.section-title{
    color: #562EFF;
    font-size: 24px;
    margin: 3px;

}
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
}
.player{
    display: flex;
    align-items: center;
}
.player img{
    width: 56px;
    height: 56px;
}
.player-name{
    margin-left: 16px;
    font-size: 18px;
}


/* top Blog style  */

.blogs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 26px;
}
.blog{
    display: flex;
}
.blog .thumbnail img{
    width: 177px;
    height: 117px;
}
.blog-info{
    margin-left: 16px;
}
.blog-title{
    font-size: 20px;
    width: 197px;
    height: 68px;
    margin: 0;

}
.blog-author{
    color: #9F9F9F;
    font-size: 16px;
    margin: 0;


}
.blog-author a{
    color: #562EFF;
    text-decoration: none;
}


/* Latest course style */
.courses{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 24px;
}
.course{
    width: 253px;
    height: 270px;
    box-shadow: (0px 5.34229px 13.3557px rgba(0, 0, 0, 0.05));
}
.course-banner{}
.course .course-banner img{
    width: 224px;
    height: 104px;
}
.course-details{}
.course-title{}
.course-author{}
.course-info{
    display: flex;
    justify-content: space-between;
}
.fa-star{
    font-size: 12px;
}
.fa-star.filled{
    color: #FFC014;
    ;
}
.fa-star.empty{
    color: #AEAEAE;
    ;
}

.ratting-point{
    color: #A2A2A2;
    font-size: 14px;

}
.course-duration{
    Width: 94.83px;
    Height: 29.38px;
    background-color: #FEE5DF;
    border-radius: 14.6913px;
    color: #ED6B4F;
    text-align: center;
    padding-top: 5px;

}